.avatar {
  float: left;
  height: 40rem;
  width: 60rem;

}
/* Backup */
/* .avatar {
  border-radius: 50%;
  border: 2px solid var(--color-main);
  object-fit: cover;
} */

.avatar--post {
  border: 50%;
  border: 2px solid var(--color-main);
  float: left;
  height: 18rem;
  width: 18rem;
}

.avatar--xl {
  height: 20rem;
  width: 20rem;
}

/* .avatar--lg {
  height: 15rem;
  width: 15rem;
} */

.avatar--lg {
  float: left;
  height: 18rem;
  width: 18rem;
}

.avatar--md {
  height: 7rem;
  width: 7rem;
}

.avatar--sm {
  height: 5rem;
  width: 5rem;
}
